.card {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  /* justify-items: stretch; */
  height: 75%;
  /* resize: none; */
  height: 100%;
  padding: 20px;
  margin: 10px;
  overflow: auto;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 30px;
  /* resize: both; */
  background-color: white;
}
