.navbar {
  display: flex;
  height: 50px;
  border-bottom: 0.5 solid rbg(231, 228, 228);
  align-items: center;
  color: black;
  font-size: 14px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    /* background-color: blueviolet; */

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      .item {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 20px;

        .icon {
          font-size: 20px;
        }

        .counter {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 15px;
          height: 15x;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: red;
          color: white;
          font-size: 10px;
          font-weight: bold;
        }
      }
    }

    .auth {
      color: brown;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

/* .selector {
  Positioning
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  Display & Box Model
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 10px solid #333;
  margin: 10px;

  Color
  background: #000;
  color: #fff

  Text
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;

  Other
  cursor: pointer;
} */
