.list-container {
  /* background-color: red; */
}
.list-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: aqua; */
  /* height: 100%; */
}
.list-title button {
  background-color: var(--color-success);
  color: #fff;
  margin-right: 10px;
}
.ticket-summary {
  display: grid;
  flex-direction: row;
  grid-template-columns: 2fr 1fr;
  gap: 1px;
  justify-items: center;
  height: 100%;
  /* resize: none; */
}

.ticket-notes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: aqua; */
}
.ticket-notes input {
  width: 50%;
  height: 80px;
  border-radius: 10px;
  padding: 9px;
  margin: 10px;
}

.ticket-note {
  border-radius: 30px;
  padding: 9px;
  margin: 10px;
}

.ticket-info {
  height: 100%;
  padding: 20px;
  margin: 10px;
  overflow: auto;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 30px;
  /* resize: both; */
  background-color: aqua;
}
